{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
    <h1>Quiz</h1>
    <div>
        <p>Question #{{ request.session.current_question_number }}</p>
        <p>Questions left: {{ request.session.questions_remain }}</p>
        <!-- <p>Current question stack: {# {{ request.session.question_pks }} #}</p> -->
        <hr>
    </div>
    <div>
        <form method="post" action="{% url 'questions:process_answer' question.pk %}">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ question.description }}</h1></legend>
                {% for choice in possible_answers %}
                    <p>
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.description }}</label>
                    </p>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Vote">
        </form>
    </div>
{% endblock %}